 @media(prefers-color-scheme:dark) {
   :root {
       --body: #313131;
       --text: #fff;
       --dots: #EBEBEB;
       --workfor: #7177F1;
       --bgcolor: #313131;
       --mainDark: #0C0C0C;
       --title: #fff;
       --active: #fff;
       --dark: #000;
   }
   .logo{
     position: relative;
   }
   .logo::after{
      content: url(../img/logo-white.png);
      width: 100px;
    }
   .btn-dark{
     background-color: transparent;
     color: var(--title);
     border: 1px solid #fff;
   }
   .cardbox{
     position: relative;
     z-index: 1;
     transition: .5s;
   }
   .cardbox::before{
     content: url(../img/White-heart.png);
     transition: .5s;
     transform: scale(0);
   }
   .input{
     background-color: #313131;
     border: 1px solid #fff;
   }
   .card__info{
     bottom: -5px;
   }
   .btn-submit{
     background-color: transparent;
     border: 1px solid #fff;
   }
   .cardbox:hover{
      background:var(--body);
      box-shadow: unset;
  }
  .cardbox.laptop::before{
    content: url(../img/laptop-shadow.png);
    z-index: -1;
    top: 10%;
    left: 0;
  }
  .cardbox.bestseller::before{
    content: url(../img/bestseller-shadow15.png);
    z-index: -1;
    top: 5%;
    left: 10%;
  }
  .cardbox:hover.cardbox::before{
    transform: scale(1);
    opacity: 1;
  }
  .cardbox:hover .dark{
    opacity: 1;
  }
  .cardbox.phone::after{
    opacity: 0;
    transform: scale(0);
  }
  .cardbox:hover.cardbox.phone::after{
    content: url(../img/iphone__shadow.png);
    position: absolute;
    bottom: 80px;
    z-index: -1;
    opacity: 1;
    transform: scale(1);
  } 
  .ps__title::before{
    content: url(../img/ps__title.png);
  }
}
@media (max-width:992px) {
  .carousel-indicators{
    justify-content: center;
  }
  .ps__title::before{
    display: none;
   }
  .carousel-indicators [data-bs-target] {
    width: 5px;
    height: 5px;
    border-bottom: 0;
    border-top: 0;
    border-radius: 50%;
    background: #ABABAB;
  }
  .carousel-indicators [data-bs-target].active{
   background-color:var(--title);
   width: 7.5px;
   height: 7.5px;
 }
}

@media (max-width:768px) {
  .navbar-nav{
    gap: 30px;
  }
  .header__top .navbar-nav{
    gap: 20px;
  }
}
@media (max-width:576px) {
  .logo::after{
    content: url(../img/logo-white.png);
    width: 100px;
  }
  .logo::after{
    width: 120px !important;
  }

}
@media (max-width:300px) {
  .footer-link span::before{
    font-size: 20px;
  }
}