@import url(./font.css);

:root{
  --NB: 'NotoSans-Bold';
  --NR: 'NotoSans-Regular';
  --mainDark: #313131;
  --bgcolor: #fff;
  --title: #000;
  --dots: #ABABAB;
  --active: #313131;
  --dark: #fff;
}
*{
  box-sizing: border-box;
}
body{
  font-family: var(--NR);
  background-color: var(--bgcolor);
}
h1,
h2,
h3,
p,
ul,
li,
a{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: var(--NR) !important;
}
.header__top{
  background-color: var(--mainDark);
}
.header__top .navbar-nav{
  gap: 80px;
}

.nav-item{
  display: inline-block;
}
.nav-link{
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  display: inline-block;
  font-family: var(--NR);
}
.nav-link:hover{
  color: #E5E5E5;
}
.nav-item span::before{
  color: #fff;
  font-size: 14px;
  line-height: 19px;
}
.nav-link:visited{
  color: #fff;
}
.header__info{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 0;
}
.logo::after{
  content: url(../img/Logo.png);
  width: 187px;
}
.input{
  width: 75%;
  margin-left: 150px;
  padding: 0 10px;
  font-size: 14px;
  line-height: 19px;
  color: #BBBBBB;
  border: 1px solid #000;
}
#navbarSupportedContent{
   align-self: flex-end;
}
.input:focus{
  outline: none;
}
.form{
  width: 630px;
  margin-left: 143px;
}

/* Loooooook  */


.btn-submit{
  width: 33%;
  border: none;
  font-family: var(--NR);
  font-size: 14px;
  line-height: 19px;
  color: #E5E5E5;
  background-color: var(--mainDark);
  padding: 16px 15px;
}
.header-nav{
  padding: 15px 0;
}
.header-nav .navbar-nav{
  margin-left: auto;
  gap: 15px;
}
.carousel-indicators{
  gap: 15px;
  justify-content: flex-end;
}
.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-bottom: 0;
  border-top: 0;
  border-radius: 50%;
  background: #ABABAB;
}
.carousel-indicators [data-bs-target].active{
  background-color: var(--active);
  width: 15px;
  height: 15px;
}
.carousel-control-next-icon{
  color: var(--mainDark);
}
.header-nav .nav-link{
  color:var(--mainDark);
  font-size: 14px;
  line-height: 19px;
}
.main__title{
  font-family: var(--NB);
  max-width: 624px;
}
#dropdownMenuButton1{
  color: var(--title);
  position: relative;
}
#dropdownMenuButton1:active.show{
  offset: none;
}
.dropdown-menu::after{
  
}

.btn-dark{
  width: 190px;
}
.col__item{
  max-width: 630px;
  width: 100%;
  background-color: #f1f1f1;
  padding: 20px;
  position: relative;
}
.item__title{
  font-family: var(--NB);
  font-weight: 500;
  font-size: 1.5rem;
}
.cardbox{
  padding: 18px 26px;
  max-width: 300px;
  width: 100%;
  transition: .5s;
  height: 330px;
}
hr{
  padding: 0;
  margin: 0;
  background-color:var(--title) ;
}
.title,
.main__title{
  color: var(--title);
}
.dropdown-menu{
  background-color: var(--dark);
}
.dropdown-item{
  color: var(--title);
}
.cardbox::before{
  content: url(../img/Vector\ 7.png);
  position: absolute;
  top: 17px;
  right: 17px;
  opacity: 0;
  transition: .5s;
}
.cardbox img{
  display: block;
}
.ps__title{
  position: relative;
  color: var(--title);
}
.ps__title::before{
  content: url(../img/ps__title__light.png);
  top: -80px;
  left: 0;
  position: absolute;
}

.card__title{
  font-family: var(--NB);
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  margin-top: 30px;
  color: var(--title);
}
.card__price{
  color: var(--title);
}
.card__info{
  margin: 200px 0 15px;
}
.dark{
  font-size: 20px;
  padding: 5px 36px;
  transition: .5s ease;
  opacity: 0;
}
.cardbox:hover{
  background: #FFFFFF;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}
.cardbox:hover.cardbox::before{
  opacity: 1;
}
.cardbox:hover .dark{
  opacity: 1;
}
.play__station{
  max-width: 700px;
  width: 100%;
}
.footer{
  background-color: var(--mainDark);
  padding: 30px 0;
  width: 100%;
}
.footer-title{
  font-size: 18px;
  line-height: 25px;
  color: #fff;
  text-align: left;
}
.footer-input{
 max-width: 500px !important;
}
.footer-link span::before{
  color: #fff;
  font-size: 40px;
}
.footer__form{
  width: 520px;
  display: flex;
  align-items: center;
}
.footer__input{
   padding: 0 10px;
}
.footer__btn{
  border: none;
  background-color: var(--mainDark);
  color:#fff;
  height: 40px;
  font-size: 18px;
  line-height: 25px;
  outline: 1px solid #fff;
  transition: .5s;
}
.footer__btn:hover{
  background-color:#fff ;
  color: #000;
  cursor: pointer;
  outline: var(--bgcolor);
}
#dropdownMenuButton1::after{
   display: none;
}